<p>
 <button class='btn btn-danger'   (click)='showForm()' > Add Todos </button> 
</p>
<div *ngIf='showTodo'>
        <form #f='ngForm' (ngSubmit)='onSubmit(f)' >
        <label>Title</label>
        <input type='text' name='title'  class='form-control'  ngModel />
        <label>Description</label>
        <textarea class='form-control' name='description'  ngModel></textarea>
        <input type='submit' value='Submit' class='btn btn-primary' style='margin-top:5px;' />
        </form>
</div>

<div *ngFor='let todo of todoArray' >
   <h3> {{todo.title}}</h3>
   <p>{{todo.description}}</p>
</div>    


